@import "~@sebgroup/bootstrap";
@import "~@sebgroup/vanilla/src/variables";
@import "~@sebgroup/vanilla/src/components/tables/table";
@import "~@sebgroup/vanilla/src/components/inputs/input-mixins";
@import '~@sebgroup/vanilla/src/components/datepicker/datepicker';
@import '~@sebgroup/vanilla/src/components/inputs/input_base';
@import '~@sebgroup/vanilla/src/components/inputs/input-mixins';
@import './scss/index.scss';

.sdv-field-switch-wrap {
  @include vanilla-field-toggle-wrap("switch");
}

.sdv-field-switch-wrap--suggestion {
  @include vanilla-field-toggle-wrap("switch");

  position: relative;
  padding-left: vanilla-px-to-em(40px);
  min-height: 2rem;

  input:checked + label::before {
    background-color: $vanilla-color-component-normal;
    border-color: $vanilla-color-component-normal;
  }

  input + label {
    position: initial;
    line-height: 2rem;
    margin-bottom: 0 !important;
    padding: 0; 

    &:not(:empty) {
        padding: 0 0 0 8px;
    }
  }

  input + label:before {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: none;
  }

  input + label:after {
    width: vanilla-px-to-em(16px);
    height: vanilla-px-to-em(16px);
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
                0px 1px 0px 0px rgba(0, 0, 0, 0.06);
    transition: 150ms ease-in-out;
  }

  input:focus + label {
    box-shadow: none;
  }

  input:focus + label:before {
    box-shadow: 0px 0px 0px 2px $vanilla-color-white,
                0px 0px 0px 4px $vanilla-color-darkblue2;
  }

  &:hover input:not(:disabled) + label::after {
    background-color: $vanilla-color-white;
  }

  &:hover input:not(:disabled):not(:active) {
    & + label::after {
      left: vanilla-px-to-em(6px);
    }

    & + label::before {
      background-color: $vanilla-color-grey5;
    }
  }

  &:hover input:checked:not(:disabled):not(:active)  {
    & + label::after {
        left: vanilla-px-to-em(19px);
    }

    & + label::before {
    background-color: $vanilla-color-darkblue2;
    }
  }

  &:hover, label:hover {
    cursor: pointer;
  }

  input:checked + label::after {
    left: vanilla-px-to-em(22px);
  }

  input:not(:disabled):focus + label::after {
    background-color: $vanilla-color-white;
  }


  &.v2 {
    input:focus + label:before {
        box-shadow: 0px 0px 4px 1px $vanilla-color-blue;
        border: 1px solid $vanilla-color-component-selected;
    }

    &:hover input:not(:disabled):not(:active) {
        & + label::after {
          left: vanilla-px-to-em(2px);
        }
    
        & + label::before {
          background-color: $vanilla-color-grey5;
        }
      }
    
      &:hover input:checked:not(:disabled):not(:active)  {
        & + label::after {
            left: vanilla-px-to-em(22px);
        }
    
        & + label::before {
        background-color: $vanilla-color-darkblue2;
        }
      }
  }

  &.v3 {

    padding-left: vanilla-px-to-em(44px);

    input + label {
      &:before {
        height: vanilla-px-to-em(24px);
        width: vanilla-px-to-em(44px);
      }
      
      &:after {
        height: vanilla-px-to-em(20px);
        width: vanilla-px-to-em(20px);
      }
    }

    &.v3--green {
      input:checked:not(:disabled):not(:active) {
        & + label::before {
          background-color: $vanilla-color-darkgreen1;
        }
      }
      
      &:hover input:checked:not(:disabled):not(:active)  {
        & + label::before {
        background-color: $vanilla-color-darkgreen2;
        }
      }
    }

    &.v3--black {
      
      input:checked + label::before {
        background-color: $vanilla-color-black;
        border-color: $vanilla-color-black;
      }

      input:checked:not(:disabled):not(:active) {
        & + label::before {
          background-color: $vanilla-color-black;
        }
      }
      
      &:hover input:checked:not(:disabled):not(:active)  {
        & + label::before {
        background-color: $vanilla-color-grey3;
        }
      }
    }

    input:focus + label:before {
        box-shadow: 0px 0px 4px 1px $vanilla-color-blue;
        border: 1px solid $vanilla-color-component-selected;
    }

    &:hover input:not(:disabled):not(:active) {
      & + label::before {
        background-color: $vanilla-color-grey5;
      }
    }
    
    &:hover input:checked:not(:disabled):not(:active)  {
      & + label::before {
      background-color: $vanilla-color-darkblue2;
      }
    }
  }
}
